@model List<TodoDto>

<div class="container">
    <div class="row">
        <h2>My Todo list:</h2>
        <div class="col-md-12">
            @if (ViewBag.ErrorMessage is not null)
            {
                <h6 class="alert alert-danger">@ViewBag.ErrorMessage</h6>
            }
            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th>
                            <label asp-for="@Model.FirstOrDefault().Description"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.FirstOrDefault().DueDate"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.FirstOrDefault().Category"></label>
                        </th>
                        <th>
                            <label asp-for="@Model.FirstOrDefault().Status"></label>
                        </th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    <form asp-action="MarkComplete" asp-controller="Todo" method="post">
                        @foreach (var todo in Model)
                        {
                            string overdueClass = todo.DueDate.Date < DateTime.Now.Date ? "bg-danger" : "";

                        <tr>
                            <td>@todo.Description</td>
                            <td class="@overdueClass">@todo.DueDate.ToShortDateString()</td>
                            <td>@todo.Category</td>
                            <td>@todo.Status</td>
                            <td>
                                <button type="submit" class="btn btn-outline-primary btn-sm" name="@nameof(TodoDto.Id)" value="@todo.Id">Mark as complete</button>
                            </td>
                        </tr>
                    }
                    </form>
                </tbody>
            </table>
            <div class="row">
                <form asp-action="RemoveComplete" asp-controller="Todo" method="post">
                    <a asp-action="Create" class="btn btn-primary">Add new todo</a>
                    <button type="submit" class="btn btn-outline-danger">Remove all completed</button>
                </form>
            </div>
        </div>
    </div>
</div>