@model List<StudentViewModel>

@{
	ViewData["Title"] = "All Students";
	string pageTitle = "All Students";
}

<div class="container mt-5">
	<h2 class="mb-4">@pageTitle</h2>

	<div class="alert alert-warning mb-3">
		<p>@ViewBag.WelcomeMessage</p>
		@if (ViewBag.HasManyStudents)
		{
			<p>There are more than 100 students in the academy</p>
		}
	</div>

	@if (TempData.TryGetValue("FormMessage", out var formMeesage))
	{
		<h4 class="text-success mb-3">@formMeesage</h4>
	}

	<table class="table table-bordered table-striped">
		<thead class="text-warning bg-white">
			<tr>
				<th>Full Name</th>
				<th>Age</th>
				<th>Active Course</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (StudentViewModel student in Model)
			{
				<tr>
					<td>@student.FullName</td>
					<td>@student.Age</td>
					<td class="@(student.ActiveCourseName == "No Course" ? "text-danger" : "")">
						@student.ActiveCourseName
					</td>
					<td>
						<a asp-controller="Student"
						   asp-action="GetStudentById"
						   asp-route-studentId="@student.Id"
						   class="btn btn-sm btn-outline-info">
							Details
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="mt-4">
		<!-- Raw HTML link to Create Student action -->
		<a href="/Student/Create" class="btn btn-outline-danger">Create Student (HTML Link)</a>

		<!-- Html Helper link -->
		<div class="mt-3">
			@* @Html.ActionLink("Create Student (Html Helper)", "Create", "Student") *@
			@Html.ActionLink("Create Student (Html Helper)", "Create", "Student", null, new { @class = "btn btn-outline-success" })
		</div>

		<!-- Tag Helper link -->
		<div class="mt-3">
			<a asp-controller="Student" asp-action="Create" class="btn btn-outline-warning">Create Student (Tag Helper)</a>
			<a asp-controller="Home" asp-action="Index" class="btn btn-warning">Go Home (Tag Helper)</a>
		</div>
	</div>

	<p class="mt-3">Today's Date: @ViewData["CurrentDate"]</p>

</div>

