@model IEnumerable<TodoDto>

@if(TempData.TryGetValue("ErrorMessgae", out var errorMessage))
{
	<h4 class="text-danger alert alert-danger mt-2 mb-3">@errorMessage</h4>
}

<div class="row">
	<div class="col-md-12">
		@Html.Partial("~/Views/Todo/Partial/_FilterPartial.cshtml", (FilterDto)ViewBag.Filter)
	</div>
</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped mt-2">
				<thead>
					<tr>
						<th>Description</th>
						<th>DueDate</th>
						<th>Category Name</th>
						<th>Status Name</th>
						<th class="w-25">Actions</th>

					</tr>
				</thead>
				<tbody>
					@foreach(TodoDto todo in Model)
					{
					string dueDate = todo.DueDate < DateTime.Now ? "bg-danger" : "";
					<tr>
						<td>@todo.Description</td>
						<td class="@dueDate">@todo.DueDate</td>
						<td>@todo.Category</td>
						<td>@todo.Status</td>
						<td>
							@if(todo.Status == "Completed")
							{
								<button disabled type="submit" class="btn btn-outline-primary btn-sm">Mark Complete</button>
							}
							else
							{
								<a asp-action="MarkComplete" class="btn btn-outline-primary btn-sm"
								name="@nameof(TodoDto.Id)" asp-route-id="@todo.Id">Mark Complete</a>
							}
							
						</td>
					</tr>
					}
				</tbody>
			</table>
			<div>
				<a asp-action="AddTodo" class="btn btn-outline-primary">Create Todo</a>
			</div>
			<div>
				<a asp-action="RemoveComplete" class="btn btn-outline-danger">Remove Complete</a>
			</div>
		</div>
	</div>